body {
    background-image: url("images/casino-sales-blank-banner-background_23-2151454026.avif");
    background-size: cover 
}
img {
    max-width: 100%;
    height: auto;
    }
.gameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
