body {
    background-image: url("images/background.avif");
}
image {
    max-width: 100%;
    height: auto;
    }
.gameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

<img src="https://www.google.com/imgres?q=image%20of%20black%20jack&imgurl=https%3A%2F%2Fcrescent.edu%2Fuploads%2Feditor%2Fimages%2FBlackjack.png&imgrefurl=https%3A%2F%2Fcrescent.edu%2Fpost%2Fthe-history-of-blackjack&docid=weLgoQcCrWeKJM&tbnid=oYeUgQX7iTO4zM&vet=12ahUKEwizwP2ZrMOVAxVwMjQIHZq6ALsQnPAOegQINBAA..i&w=671&h=443&hcb=2&ved=2ahUKEwizwP2ZrMOVAxVwMjQIHZq6ALsQnPAOegQINBAA" alt="Blackjack cards and chips arranged on a green felt table with warm casino lighting and a focused gaming atmosphere" class="background-image">