h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-display: flex;
}

.d-flex-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("images/background.avif");
}